    <header>
        <div class="container">
            <div class="row">
                <div class="homeTitle">
                    <h1>Christmas <span>Events</span></h1>
                    <p>voluptatem ullam nihil amae anindae dolores ombrage</p>
                </div>
            </div>
        </div>
    </header>