{{!--
Partial: Events
--}}


<div class="cards">
    <div class="row">

        {{!---Card 1 --}}

        <a class="col-md-3 btn" href="/blogID">
            <div class="card-details">
                <img src="/assets/images/cards/lantern.png" alt="">
                <h4>Yule Ball</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, sint atque!
                    Consequuntur reprehenderit ullam amet quidem</p>
                <h5>Santa Claus</h5>
            </div>
        </a>

        {{!---Card 2 --}}

        <a class="col-md-3 btn" href="/blogID">
            <div class="card-details">
                <img src="/assets/images/cards/lantern.png" alt="">
                <h4>Yule Ball</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, sint atque!
                    Consequuntur reprehenderit ullam amet quidem</p>
                <h5>Santa Claus</h5>
            </div>
        </a>

        {{!---Card 3 --}}

        <a class="col-md-3 btn" href="/blogID">
            <div class="card-details">
                <img src="/assets/images/cards/lantern.png" alt="">
                <h4>Yule Ball</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, sint atque!
                    Consequuntur reprehenderit ullam amet quidem</p>
                <h5>Santa Claus</h5>
            </div>
        </a>

        {{!---Card 4 --}}

        <a class="col-md-3 btn" href="/blogID">
            <div class="card-details">
                <img src="/assets/images/cards/lantern.png" alt="">
                <h4>Yule Ball</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, sint atque!
                    Consequuntur reprehenderit ullam amet quidem</p>
                <h5>Santa Claus</h5>
            </div>
        </a>

        {{!---Card 5 --}}

        <a class="col-md-3 btn" href="/blogID">
            <div class="card-details">
                <img src="/assets/images/cards/lantern.png" alt="">
                <p>Yule Ball/blog-id
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, sint atque!
                    Consequuntur reprehenderit ullam amet quidem</p>
                <h5>Santa Claus</h5>
            </div>
        </a>

        {{!---Card 6 --}}

        <a class="col-md-3 btn" href="/blogID">
            <div class="card-details">
                <img src="/assets/images/cards/lantern.png" alt="">
                <h4>Yule Ball</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, sint atque!
                    Consequuntur reprehenderit ullam amet quidem</p>
                <h5>Santa Claus</h5>
            </div>
        </a>

        {{!---Card 7 --}}

        <a class="col-md-3 btn" href="/blogID">
            <div class="card-details">
                <img src="/assets/images/cards/lantern.png" alt="">
                <h4>Yule Ball</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, sint atque!
                    Consequuntur reprehenderit ullam amet quidem</p>
                <h5>Santa Claus</h5>
            </div>
        </a>

        {{!---Card 8 --}}

        <a class="col-md-3 btn" href="/blogID">
            <div class="card-details">
                <img src="/assets/images/cards/lantern.png" alt="">
                <h4>Yule Ball</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, sint atque!
                    Consequuntur reprehenderit ullam amet quidem</p>
                <h5>Santa Claus</h5>
            </div>
        </a>
    </div>
</div>
</section>