{{!--
Partial: Events
--}}

<section>
    <div class="container">
        <div class="row pb-3 justify-content-center" id="listCard">

            <!-- Card 1 -->

            <div class="col-12 col-md-6 col-lg-3">
                <div class="card-details">
                    <img src="assets/images/cards/gryffindorm.jpeg">
                    <h4>Gryffindor Dorm Party</h4>
                    <p>sunt omnis consectetur
                        unde quas exercitationem dolores sed doloremque ab aliquid, repellat explicabo id quod
                        magni</p>
                </div>
            </div>


            <!-- card 2 -->

            <div class="col-12 col-md-6 col-lg-3">
                <div class="card-details">
                    <img src="assets/images/cards/hufflepuffdorm.jpeg">
                    <h4>Hufflepuff Dorm Party</h4>
                    <p>sunt omnis consectetur
                        unde quas exercitationem dolores sed doloremque ab aliquid, repellat explicabo id quod
                        magni</p>
                </div>
            </div>


            <!-- card 3 -->

            <div class="col-12 col-md-6 col-lg-3">
                <div class="card-details">
                    <img src="assets/images/cards/quidditch.png">
                    <h4>Quidditch : Gryffindor/Hufflepuff</h4>
                    <p>sunt omnis consectetur
                        unde quas exercitationem dolores sed doloremque ab aliquid, repellat explicabo id quod
                        magni</p>
                </div>
            </div>

            <!-- card 4 -->

            <div class="col-12 col-md-6 col-lg-3">
                <div class="card-details">
                    <img src="assets/images/cards/quidditch2.jpeg">
                    <h4>Quidditch : Slytherin/Ravenclaw</h4>
                    <p>sunt omnis consectetur
                        unde quas exercitationem dolores sed doloremque ab aliquid, repellat explicabo id quod
                        magni</p>
                </div>
            </div>

            <!-- card 5 -->

            <div class="col-12 col-md-6 col-lg-3">
                <div class="card-details">
                    <img src="assets/images/cards/ravenclawdorm.jpeg">
                    <h4>Ravenclaw Dorm Party</h4>
                    <p>sunt omnis consectetur
                        unde quas exercitationem dolores sed doloremque ab aliquid, repellat explicabo id quod
                        magni</p>
                </div>
            </div>


            <!-- card 6 -->

            <div class="col-12 col-md-6 col-lg-3">
                <div class="card-details">
                    <img src="assets/images/cards/slytherinbook.jpeg">
                    <h4>Slytherin Treasure Hunt</h4>
                    <p>sunt omnis consectetur
                        unde quas exercitationem dolores sed doloremque ab aliquid, repellat explicabo id quod
                        magni</p>
                </div>
            </div>


            <!-- card 7 -->

            <div class="col-12 col-md-6 col-lg-3">
                <div class="card-details">
                    <img src="assets/images/cards/slytherindorm.jpg">
                    <h4>Slytherin Dorm Party</h4>
                    <p>sunt omnis consectetur
                        unde quas exercitationem dolores sed doloremque ab aliquid, repellat explicabo id quod
                        magni</p>
                </div>
            </div>

            <!-- card 8 -->

            <div class="col-12 col-md-6 col-lg-3">
                <div class="card-details">
                    <img src="assets/images/cards/slytherinhouse.jpg">
                    <h4>Slytherin House Party</h4>
                    <p>sunt omnis consectetur
                        unde quas exercitationem dolores sed doloremque ab aliquid, repellat explicabo id quod
                        magni</p>
                </div>
            </div>
        </div>
    </div>
</section>