{{!--
Partial: Searchbar
--}}


<section class="blog container" id="events">
    <div class="row">
        <div class="col-md-12">
            <h2>Events</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quidem earum, sunt omnis consectetur
                unde quas exercitationem dolores sed doloremque ab aliquid, repellat explicabo id quod magni
                nobis eligendi non autem veritatis impedit quia ullam
            </p>
        </div>
        <div class="col-md-12">
            <div class="search-input">
                <input class="mb-2" type="search" id="site-search" name="q" aria-label="Search through site content"
                    placeholder=" Search on this website">
                <button class="btn-blog">Search</button>
            </div>
        </div>
    </div>