{{!--
Main : Modals
--}}

{{!-- Nav-Login --}}

<div class="modal fade" id="modalForm" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content container mb-2">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLabel">Identify</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form>
                <div class="modal-body">
                    <div class="mb-3">
                        <label class="form-label"></label>
                        <input type="text" class="form-control" id="username" name="username" placeholder="Username" />
                    </div>
                    <div class="mb-3">
                        <label class="form-label"></label>
                        <input type="password" class="form-control" id="password" name="password"
                            placeholder="Password" />
                        <p class="text-end"><small><a href="/forgotPW">Forgot Password ?
                                </a></small></p>
                    </div>
                </div>
                <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input" id="rememberMe" />
                    <label class="form-check-label" for="rememberMe">Remember me</label>
                </div>
                <div class="modal-footer d-block">
                    <p class="float-start">Not registered yet ? <a class="ms-2" href="/register">Register</a>
                    </p>
                    <a class="btn btn-nav-log float-end" href="/admin">Submit</a>
                </div>
            </form>
        </div>
    </div>
</div>


{{!-- User Ban --}}

<div class="modal fade" id="ban-user-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want ban this user ?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary">Confirm</button>
            </div>
        </div>
    </div>
</div>

{{!--
<!--User Edition--> --}}

<div class="modal fade" id="edit-user-modal" tabindex="-1" aria-labelledby="edituserlabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Edit</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="connection d-flex justify-content-center flex-column">
                    <div class="mb-3 element-form">
                        <label for="input-username" class="form-label">Username</label>
                        <input type="text" class="form-control" id="input-username">
                    </div>
                    <div class="mb-3 element-form">
                        <label for="input-email" class="form-label">Mail address</label>
                        <input type="email" class="form-control" id="input-email">
                    </div>
                    <div class="mb-3 element-form">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" class="form-control" id="password">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-off" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-on">Confirm</button>
            </div>
        </div>
    </div>
</div>

{{!-- Article Pin --}}

<div class="modal fade" id="thumb-content-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Pin this item ?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary">Confirm</button>
            </div>
        </div>
    </div>
</div>

{{!-- Article Delete --}}

<div class="modal fade" id="delete-content-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want delete this item ?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary">Confirm</button>
            </div>
        </div>
    </div>
</div>

{{!-- Article Edition --}}

<div class="modal fade" id="edit-article-modal" tabindex="-1" aria-labelledby="edituserlabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Edit</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="connection d-flex justify-content-center flex-column">
                    <div class="mb-3 element-form">
                        <label for="input-username" class="form-label"></label>
                        <input type="text" class="form-control" id="input-username" placeholder="Title">
                    </div>
                    <div class="mb-3 element-form">
                        <label for="input-email" class="form-label"></label>
                        <textarea class="brd-txt-area" name="" id="" cols="30" rows="10"
                            placeholder=" Write an article"></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-off" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-on">Confirm</button>
            </div>
        </div>
    </div>
</div>

{{!-- Article Creation --}}

<div class="modal fade" id="create-article-modal" tabindex="-1" aria-labelledby="edituserlabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Add an article</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="connection d-flex justify-content-center flex-column">
                    <div class="mb-3 element-form">
                        <label for="input-username" class="form-label"></label>
                        <input type="text" class="form-control" id="input-username" placeholder="Title">
                    </div>
                    <div class="mb-3 element-form">
                        <label for="input-email" class="form-label"></label>
                        <textarea class="brd-txt-area" name="" id="" cols="30" rows="10"
                            placeholder=" Write an article . . ."></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-off" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-on">Confirm</button>
            </div>
        </div>
    </div>
</div>

<!--Comment Add-->

<div class="modal fade" id="add-comment-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Validate this comment ?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary">Confirm</button>
            </div>
        </div>
    </div>
</div>

{{!-- Comment Delete --}}

<div class="modal fade" id="delete-comment-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Delete this comment ?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary">Confirm</button>
            </div>
        </div>
    </div>
</div>

{{!-- Description Modification --}}

<div class="modal fade" id="modify-bio-modal" tabindex="-1" aria-labelledby="edituserlabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Modify biography</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="connection d-flex justify-content-center flex-column">
                    <div class="mb-3 element-form">
                        <label for="input-email" class="form-label"></label>
                        <textarea class="brd-txt-area" name="" id="" cols="30" rows="10"
                            placeholder=" Write a biography . . ."></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-off" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-on">Confirm</button>
            </div>
        </div>
    </div>
</div>

{{!-- Déconnexion --}}

<div class="modal fade" id="deconnexion-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure ou want to log out ?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <a href="/"><button type="button" class="btn btn-primary">Confirm</button></a>
            </div>
        </div>
    </div>
</div>


{{!-- Terms of uses --}}

<div class="modal fade" id="terms-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLabel">Terms of uses</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat, velit. Lorem ipsum dolor sit amet
                    consectetur adipisicing elit. Fugiat, velit. Lorem ipsum dolor sit amet consectetur adipisicing
                    elit. Fugiat, velit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat, velit.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat, velit. Lorem ipsum dolor sit amet
                    consectetur adipisicing elit. Fugiat, velit. Lorem ipsum dolor sit amet consectetur adipisicing
                    elit. Fugiat, velit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat, velit.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat, velit. Lorem ipsum dolor sit amet
                    consectetur adipisicing elit. Fugiat, velit. Lorem ipsum dolor sit amet consectetur adipisicing
                    elit. Fugiat, velit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat, velit.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat, velit. Lorem ipsum dolor sit amet
                    consectetur adipisicing elit. Fugiat, velit. Lorem ipsum dolor sit amet consectetur adipisicing
                    elit. Fugiat, velit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat, velit.</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat, velit. Lorem ipsum dolor sit amet
                    consectetur adipisicing elit. Fugiat, velit. Lorem ipsum dolor sit amet consectetur adipisicing
                    elit. Fugiat, velit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat, velit.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat, velit. Lorem ipsum dolor sit amet
                    consectetur adipisicing elit. Fugiat, velit. Lorem ipsum dolor sit amet consectetur adipisicing
                    elit. Fugiat, velit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat, velit.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
