{{!-- 
    Partial : Event ID
 --}}

<section class="blog-id">
    <div class="container">
        <div class="row">
            <div class="event">
                <h2>Yule Ball</h2>
                <div class="event-img">
                    <img src="/assets/images/cards/lantern.png" alt="">
                </div>
            </div>
            <div class="event-details mt-5">

                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reiciendis assumenda temporibus,
                    placeat provident tenetur sed atque repudiandae consectetur dignissimos! Voluptas deleniti
                    possimus aut illum error assumenda sunt libero a accusantium.placeat provident tenetur sed atque
                    repudiandae consectetur dignissimos! Voluptas deleniti
                    possimus aut illum error assumenda sunt liberoplaceat provident tenetur sed atque repudiandae
                    consectetur dignissimos! Voluptas deleniti
                    possimus aut illum error assumenda sunt liberoplaceat provident tenetur sed atque repudiandae
                    consectetur dignissimos! Voluptas deleniti
                    possimus aut illum error assumenda sunt libero placeat provident tenetur sed atque repudiandae
                    consectetur dignissimos! Voluptas deleniti
                    possimus aut illum error assumenda sunt libero a accusantium.placeat provident tenetur sed atque
                    repudiandae consectetur dignissimos! Voluptas deleniti
                    possimus aut illum error assumenda sunt liberoplaceat provident tenetur sed atque repudiandae
                    consectetur dignissimos! Voluptas deleniti
                    possimus aut.
                </p>
            </div>
        </div>
    </div>
</section>
