{{!--
Partial: Register
--}}

<section class="register">
    <div class="container">
        <div class="row">
            <h2>Register</h2>
            <div class="col-md-6">
                <div class="contact-form">
                    <label class="form-label" for="name"></label>
                    <input class="form-control" type="text" id="name" placeholder="Username">
                </div>
            </div>
            <div class="col-md-6">
                <div class="contact-form">
                    <label class="form-label" for="name"></label>
                    <input class="form-control" type="text" id="name" placeholder="Mail address">
                </div>
            </div>
            <div class="col-md-6">
                <div class="contact-form">
                    <label class="form-label" for="email"></label>
                    <input class="form-control" type="mail" id="email" placeholder="Password">
                </div>
            </div>
            <div class="col-md-6">
                <div class="contact-form">
                    <label class="form-label" for="name"></label>
                    <input class="form-control" type="text" id="name" placeholder="Confirm Password">
                </div>
            </div>
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="contact-form">
                    <label class="form-label" for="name"></label>
                    <input class="form-control" type="text" id="name" placeholder="Phone number*">
                    <p><small>*optional</small></p>
                </div>
            </div>

            <!-- Conditions d'utilisation -->

            <div class="conditions mt-5">
                <div class="form-check">
                    <input type="checkbox" class="form-check-input">
                    <p><small>I have read and accepted the <a href="/"> terms and conditions for use</a></small></p>
                </div>
                <a href="/login"><button type="submit" class="btn btn-log mt-5">Submit</button></a>
            </div>
        </div>
    </div>
</section>
